In [12]:
import pandas as pd
import polars as pl
from scipy.io import mmread

In [16]:
cluster = pd.read_csv('data/filtered_matrices_mex/hg19/analysis_csv/kmeans/10_clusters/clusters.csv')
cluster

                Barcode  Cluster
0      AAACATACACCCAA-1        2
1      AAACATACCCCTCA-1        3
2      AAACATACTAACCG-1        6
3      AAACATACTCTTCA-1        3
4      AAACATACTGTCTT-1        2
...                 ...      ...
39995  TTTGCATGACACCA-8        3
39996  TTTGCATGAGCCTA-8        3
39997  TTTGCATGCTAGCA-8        3
39998  TTTGCATGCTGCAA-8        2
39999  TTTGCATGGCTCCT-8        2

[40000 rows x 2 columns]

In [18]:
col = pd.read_csv('data/filtered_matrices_mex/hg19/barcodes.tsv', sep='\t', header=None)
col.columns = ['Barcode']
col

                Barcode
0      AAACATACACCCAA-1
1      AAACATACCCCTCA-1
2      AAACATACCGGAGA-1
3      AAACATACTAACCG-1
4      AAACATACTCTTCA-1
...                 ...
68574  TTTGCATGAGCCTA-8
68575  TTTGCATGCTAGCA-8
68576  TTTGCATGCTGCAA-8
68577  TTTGCATGGCTCCT-8
68578  TTTGCATGTGGTAC-8

[68579 rows x 1 columns]

In [24]:
col = col.merge(cluster, how='left')
col

                Barcode  Cluster
0      AAACATACACCCAA-1      2.0
1      AAACATACCCCTCA-1      3.0
2      AAACATACCGGAGA-1      NaN
3      AAACATACTAACCG-1      6.0
4      AAACATACTCTTCA-1      3.0
...                 ...      ...
68574  TTTGCATGAGCCTA-8      3.0
68575  TTTGCATGCTAGCA-8      3.0
68576  TTTGCATGCTGCAA-8      2.0
68577  TTTGCATGGCTCCT-8      2.0
68578  TTTGCATGTGGTAC-8      NaN

[68579 rows x 2 columns]

In [13]:
mtx = mmread('data/filtered_matrices_mex/hg19/matrix.mtx')
mtx = mtx.toarray()

In [26]:
df = pd.DataFrame(mtx, columns=list(col.Cluster)).T
df

,0,1,2,3,4,5,6,7,8,9,...,32728,32729,32730,32731,32732,32733,32734,32735,32736,32737
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
df = df[~df.index.isna()]
df

,0,1,2,3,4,5,6,7,8,9,...,32728,32729,32730,32731,32732,32733,32734,32735,32736,32737
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
df.to_csv('data/pbmc40k/data.csv.gz', compression='gzip')